<div class="row margin-bottom-20">
    <div class="col-sm-5 sm-margin-bottom-20">
      <gridfs-img src='post.image.thumb' ng-title="post.title" class="img-responsive"></gridfs-img>
    </div>
    <div class="col-sm-7 news-v3">
        <div class="news-v3-in-sm no-padding">
            <ul class="list-inline posted-info">
                <!-- <li>In <a href="#">Design</a></li> -->
                <li>Posté le {{post.created_at | date : 'd MMM y'}}</li>
            </ul>
            <h2><a ui-sref='main.blog.show_post({slug:post.slug})'>{{post.title}}</a></h2>
            <p>{{post.description}}</p>
            <!-- <ul class="post-shares">
                <li>
                    <a href="#">
                        <i class="rounded-x icon-speech"></i>
                        <span>5</span>
                    </a>
                </li>
                <li><a href="#"><i class="rounded-x icon-share"></i></a></li>
                <li><a href="#"><i class="rounded-x icon-heart"></i></a></li>
            </ul> -->
        </div>
    </div>
</div><!--/end row-->
